*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    overflow: auto;
}

header{
    height: 15%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hleft{
    padding-top: 5px;
}

.hcenter button{
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: darkgreen;
    color: #fff;
    cursor: pointer;
}

main{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20vh); /* Enlève les hauteurs du header et footer */
}

.portails {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
}


.portail {
    /* background-color: #fff; */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1; 
    max-width: 300px; 
    text-align: center;
    display: flex;
    flex-direction: column;
}


.portail h2 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}


.portail p {
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
}

.qst{
    height: auto;
    width: 70%;
    margin-left: 15%;
    background-image: url("./nuanceV.jpg");
    border-radius: 20px;
    border: 1px solid darkgreen;
    margin-bottom: 20px;
}

.qst h1{
    padding-left: 20%;
    color: #fff;
}

.location{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.imag{
    height: 200%;
    width: 50%;
    object-fit: cover;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parloc{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    height: 15%;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333;
}

footer p{
    display: flex;
    justify-content: center;
    color: #fff;
}

footer a{
    display: flex;
    justify-content: center;
    color: #fff;

}
